.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("ghost-presenter-1180130-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  
}

.headings,
.client-name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    display: inline-block;
}

.container {
  height: 70vh;
  color: #fff;
}

.client-card {
  margin-top: 10px;
  margin-right: 5px;
  border: 2px white solid;
  height: 50vh;
  width: 50%;
  margin: auto;
}

.invoice-card {
  margin-top: 10px;
  margin-right: 5px;
  border: 2px white solid;
  height: 30vh;
  width: 25%;
  margin: auto;
}

.client-new-card {
  padding-top: 5px;
  margin-top: 10px;
  margin-right: 5px;
  border: 2px white solid;
  height: 10vh;
  width: 25%;
  margin: auto;
}

.client-header,
.invoice-header {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

.client-card-buttons {
  display: flex;
  height: 10vh;
  align-items: flex-end;
  justify-content: space-evenly;
}

.invoice-name h1 {
  text-align: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
