.client-new-card {
    padding-top: 5px;
    margin-top: 10px;
    margin-right: 5px;
    border: 2px white solid;
    height: 25%;
    width: 25%;
    margin: 20px auto;
  }

  .client-from {

  }

.client-add-button-box {
    
}


.client-add-button {
    margin: 10px;
}

#first {

}

#last {

}